{%extends 'base.html' %}
{% block content %}

<h2>Vets</h2>

<nav>
    <a href='/vets/new'>Create New Vet</a>      
</nav>

{% for vet in vets %}

<section>
    <ul>
        <li>
            <label for='first_name'>First Name:</label>
            <p>{{ vet.first_name }}</p>
        </li>
        <li>
            <label for='last_name'>Last Name:</label>
            <p>{{ vet.last_name }}</p>
        </li>
        <li>
            <label for='license'>License Number:</label> 
            <p>{{ vet.license }}</p>
        </li>
        <li>  
            <form action='/vets/{{ vet.id }}/edit' method="GET">  
            <input type='submit' value='Edit'></form>

            <form action='/vets/{{ vet.id }}/delete' method="POST">   
            <input type='submit' value='Delete'></form> 
        </li>     
    </ul>   
</section>

{% endfor %}
{% endblock %}