* {
    list-style-type: none; 
    text-decoration: none;
    /* margin: 0;
    padding: 0; */
}

body > header {
    font-family: 'Raleway', sans-serif; 
    font-size: 28px;
    display: flex;
    align-items: center;
    background-color: #7AF6CA;
}

body > header > nav > a {
    text-decoration: none;
    color: black;
}
.topnav {
    /* text-align: left; */
    /* align-items: center; */
    /* float: left; */
    
}

.topnav-right {
    /* text-align: right; */
    /* align-items: center; */
    /* float: right; */
    margin-left: 800px;
}

.topnav-right > a {
    margin-right: 8px;
}

#home {
    font-family: 'Amatic SC', cursive, sans-serif; 
    margin-left: 25px;
}


body > header > nav > a:active {
    color: #551A8B;
}

#home:active {
    color: #551A8B;
}

body {
    font-family: 'Raleway', sans-serif; 
    color:#551A8B;
}

#welcome-msg {
    text-align: center; 
    margin-top: 60px;
    margin-bottom: 30px;
}

#how-to {
    text-align: center; 
}

img {
    height: 280px;
    width: auto; 
    position: relative;
    left: 65%;
}

