* {
    margin: 8px;
}

li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
}

body > header {
    font-family: 'Raleway', sans-serif; 
    font-size: 28px;
    display: flex;
    align-items: center;
    background-color: #7AF6CA;
}

body > header > a {
    font-family: 'Amatic SC', cursive, sans-serif;
    /* display: flex;
    align-items: self-end; */
    /* text-align: right; */  
}

.container > nav {
    align-items: self-end;
}
.main-nav > li > a {
    justify-content: flex-end;
}
.main-nav {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    
}

a {
    color:black;
}

a:active {
    color: #551A8B;
}


.home:active {
    color: #551A8B;
}

body {
    font-family: 'Raleway', sans-serif; 
    color:#551A8B;
}

#welcome-msg {
    text-align: center; 
    margin-top: 60px;
    margin-bottom: 30px;
}

#how-to {
    text-align: center; 
}

img {
    height: 300px;
    width: auto; 
    position: relative;
    left: 65%;
}