{%extends 'base.html' %}
{% block content %}

<h2>Owners</h2>
    
<nav>
    <button>
        <a href='/owners/new'>Create New Owner</a>  
    </button>        
</nav>

{% for owner in owners %}

<section>
    <ul>
        <li>
            <label for='first_name'>Fist Name:</label>
            <p>{{ owner.first_name }}</p>
        </li>
        <li>
            <label for='last_name'>Last Name:</label>
            <p>{{ owner.last_name }}</p>
        </li>
        <li>
            <label for='phone_num_1'>Phone Number:</label>
            <p>{{ owner.phone_num_1 }} {{ owner.phone_num_2 }}</p>
        </li>
        <li> 
            <label for='address'>Address:</label> 
            <p>{{ owner.address }}</p>
        </li>
        <li> 
            <label for='animals'>Animal(s):</label>     
            <p>{{ owner.animal }}</p>
        </li>    
        <li>  
            <form action='/owners/{{ owner.id }}/edit' method="GET">  
            <input type='submit' value='Edit'></form>
    
            <form action='/owners/{{ owner.id }}/delete' method="POST">   
            <input type='submit' value='Delete'></form> 
        </li>        
    </ul>   
</section>

{% endfor %}
{% endblock %}