{%extends 'base.html' %}
{% block content %}

<h2>Owners</h2>
<nav>
    <a href='/owners/new'>Create New Owner</a>      
</nav>

{% for owner in owners %}

<section>
    <p>{{ owner.first_name }}</p>
    <p>{{ owner.last_name }}</p>
    <p>{{ owner.phone_num_1 }}</p>
    <p>{{ owner.phone_num_2 }}</p>
    <p>{{ owner.address }}</p>
    <p>{{ owner.animal }}</p>
    <a href ='/owners/{{ owner.id }}/edit'>Edit</a>
    <form action ='/owners/{{ owner.id }}/delete' method="POST">   
        <input type = 'submit' value = 'Delete'>
    </form>    
</section>

{% endfor %}
{% endblock %}