{% extends 'base.html' %}
{% block content %}

<h2>Edit Animal</h2>

<section>
    <form action='/animals/edit' method='POST'>
       
        <ul>
            <li>
                <label for='name'>Name:</label>
                <textarea id='name' name='name'></textarea>
            </li>
            <li>
                <label for='dob'>DOB:</label>
                <textarea id='dob' name='dob'></textarea>
            </li>
            <li>  <!--WOULD NOT CHANGE-->
                <label for='type'>Type:</label> 
                <textarea id='type' name='type'></textarea>
            </li>
            <li>  <!--NOT LIKELY TO CHANGE/DROPDOWN-->
                <label for='owner'>Owner:</label>
                <textarea id='owner' name='owner'></textarea>
            </li>
            <li>  <!--DROPDOWN-->
                <label for='vet'>Vet:</label>
                <textarea id='vet' name='vet'></textarea>
            </li>
            <input class='btn-submit' type='submit' value='Edit'>
        </ul>
    </form>
</section>    
{% for animal in animals %}    
{% endfor %}
{% endblock %}