{%extends 'base.html' %}
{% block content %}

<h2>Animals</h2>

<nav>
    <a href='/animals/new'>Create New Animal</a>      
</nav>

{% for animal in animals %}

<section>
    <ul>
        <li>
            <label for='name'>Name:</label>
            <p>{{ animal.name }}</p>
        </li>
        <li>
            <label for='dob'>DOB:</label>
            <p>(format DD/MM/YYYY)</p>
            <p>{{ animal.dob }}</p>
        </li>  
        <li>
            <label for='type'>Type:</label>
            <p>{{ animal.type }}</p>
        </li>  
        <li> 
            <label for='owner'>Owner:</label>  
            <p>{{ animal.owner.first_name }}</p>
        </li>
        <li>
            <label for='vet'>Vet:</label> 
            <p>{{ animal.vet.first_name }}</p>
        </li> 
        <li> 
            <label for='vet'>Treatment Notes</label>  
            <p>{{ animal.treatment_notes }}</p>
        </li>  
        <li>  
            <form action='/animals/{{ animal.id }}/edit' method="GET">  
            <input type='submit' value='Edit'></form>


    
            <form action='/animals/{{ animal.id }}/delete' method="POST">   
            <input type='submit' value='Delete'></form> 
        </li>   
    </ul>   
</section>

{% endfor %}
{% endblock %}