<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Feline Good Vet Practice</title>
</head>
<body> 
    <header id='container'>
        <a href = '/'><h1 id='home'>Feline Good Vet Practice</h1></a>
        
        <nav>
            <ul class='main-nav'>
                <li>
                    <a href='/animals'>Animals</a>
                </li>                    <li>
                    <a href='/owners'>Owners</a> 
                </li>
                <li>
                    <a href='/vets'>Vets</a>
                </li>
            </ul>           
        </nav>
    </header>  
    <main>
        <section id='content'>
        {% block content %}
        
        {% endblock %}
        </section>
   
    </main>
</body>
</html>