<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Feline Good Vet Practice</title>
</head>
<body> 
    <header>
        <nav class='topnav'>
                <a href='/'><h1 id='home'>Feline Good Vet Practice</h1></a>
        </nav>
        <nav class='topnav-right'>
            <a href='/animals'>Animals</a>
            <a href='/owners'>Owners</a> 
            <a href='/vets'>Vets</a>
                            
        </nav>  
    </header>  
    </id>
        <main>
        <section id='content'>
        {% block content %}
        
        {% endblock %}
        </section>
   
    </main>
</body>
</html>